body {
    background-color: rgb(235, 231, 224);
    margin: 0;
}
.navbar {
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.nav-logo {
    height: 30px;
    object-fit: contain;
}
.login-btn {
    background-color: #254eaf;
    border: none;
    padding: 12px;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}