@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
 
body::-webkit-scrollbar-track {
  background-color: #d6cdff;
  border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #4c3f90;
  outline: 1px solid #4c3f90;
  border-radius: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}
.navbar {
  height: 72px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  z-index: 9;
}
@media(max-width:768px){
  .navbar {
    padding-left: 12%;
    padding-right: 4%;
  }
}
.nav-logo {
  height: 35px;
  object-fit: contain;
}
.login-btn {
  background-color: #624fa8;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #4c3f90;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(98, 79, 168, 0.2);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-btn-primary {
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.login-left {
  gap: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 625px) {
    width: unset;
  }
}
.register-left {
  gap: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 625px) {
    width: unset;
  }
}
.login-text {
  font-family: sans-serif;
  color: gray;
  font-size: 13px;
  text-align: center;
}
.login-text-register {
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  text-align: center;
  color: #5a6e9e;
}
.login-text-agree {
  text-align: end;
  font-size: 12px;
  font-family: sans-serif;
  color: gray;
  padding-top: 30px;
  @media screen and (max-width: 625px) {
    display: none;
  }
}
.register-text-login {
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  align-self: center;
  color: #5a6e9e;
}
.login-dialog {
  display: flex;
  @media screen and (max-width: 625px) {
    flex-direction: column;
  }
}

/*** sidenav CSS ***/

.sidenav .nav-link {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 500;
  margin: 20px 0;
  display: block;
  padding: 8px 16px;
  position: relative;
}

.nav-link.active {
  background-color: #d6cbff;
  color: #624fa8;
  font-weight: 500;
  border-radius: 5px;
}
.nav-link:hover {
  background-color: #d6cbff;
  color: #624fa8;
  border-radius: 5px;
}
.nav-link .active:hover {
  background-color: #e5deff;
  color: #624fa8;
  border-radius: 5px;
}

.nav-link .MuiSvgIcon-root {
  font-size: 22px;
}

.nav-link .nav-icon {
  margin-right: 8px;
}

.nav-link span {
  background-color: #624fa8;
  font-size: 12px;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  margin-left: 8px;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  width: 200px;
  top: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 9;
  border-radius: 5px;
  overflow: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
}

@media (max-width:560px) {
  .dropdown .dropdown-content {
    width: 150px;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-item {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  color: #3d3d3d;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #d7ccff;
}

.dropdown-item .nav-icon {
  margin-right: 8px;
}
.drop-link {
  text-decoration: none;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 16px;
  color: #3d3d3d;
}
.drop-link:hover {
  background-color: #e5deff;
  color: #624fa8;
  border-radius: 5px;
}

.sidenav.visible {
  transform: translateX(0);
}

.menu-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button svg {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
    margin-top: 10px;
    color: #535353;
  }
  .sidenav {
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    position: fixed;
    top: -15px;
    padding-top: 30px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}


.search-column {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.search-column:hover {
  box-shadow: 0px 12px 32px rgba(149, 157, 165, 0.3);
}

.small-radio {
  padding: 6px;
}

.small-radio .MuiSvgIcon-root {
  font-size: 18px;
}

.small-label {
  font-size: 14px !important;
  font-family: "Euclid Circular A", sans-serif !important;
}

.trip-buttons .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #624fa8 !important;
}
.search-input-column input {
  height: 60px;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Euclid Circular A", sans-serif;
  color: #666;
  background-color: #fff !important;
  font-size: 14px;
}
.search-input-column input:disabled{
  background-color: #eaeaea !important;
}
@media (max-width:560px){
  .search-input-column input {
    background-color: #fff !important;
  }
  .search-input-column input:disabled{
    background-color: #eaeaea !important;
  }
}
.input-wrapper {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-label {
  font-family: "Euclid Circular A", sans-serif;
  position: absolute;
  left: 8px;
  top: 20px;
  color: #999;
  font-size: 12px;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
  pointer-events: none;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -10px;
  font-size: 10px;
  color: #333;
}

.place-field .flight-icon {
  font-size: 15px;
}

.input-field:focus {
  outline: none;
}
.place-field {
  display: flex;
}
.from-input input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.to-input input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.input-label {
  position: absolute;
  color: #666;
  left: 12px;
  font-size: 14px;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  pointer-events: none;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input-field:focus {
  outline: none;
}

.input-wrapper.active .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 12px;
  color: #666;
}

.from-input input {
  font-family: "Euclid Circular A", sans-serif;
  color: #666;
  font-size: 14px;
}
.to-input input {
  font-family: "Euclid Circular A", sans-serif;
  color: #666;
  font-size: 14px;
}
.from-input .react-datepicker{
  margin-left: 30px !important;
}
.to-input .react-datepicker{
  margin-right: 30px !important;
}
.passenger-popover {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 250px !important;
}

.passenger-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.passenger-item button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  padding: 0;
}

.passenger-count {
  margin: 0 8px;
}
.popover-box input {
  cursor: pointer;
}

@keyframes slideIcon {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
.search-button .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  width: 329px;
}
.search-button {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media(max-width:560px){
  .search-button {
    display: block;
  }
  .search-button .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    width: 100% !important;
    margin-bottom: 10px;
  }
  .search-button button{
    margin-top: 10px;
  }
}
.search-button button {
  position: relative;
  background-color: #624fa8;
  color: #fff;
  padding: 12px 30px;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.search-button button:hover {
  background-color: #4c3f90;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(98, 79, 168, 0.2);
}

.search-button button:hover .icon-wrapper {
  animation: slideIcon 0.5s ease forwards;
}

.icon-wrapper {
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease;
}

@keyframes slideIcon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(6px);
  }
}

.search-button button svg {
  font-size: 18px;
  margin-left: 5px;
}

.search-banner-text h4 {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #222020;
}
.search-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(98, 79, 168, 0.8436624649859944) 100%
  );
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  height: 120px;
}
.search-banner img {
  margin-top: -30px;
}
.search-banner-text p {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 14px;
  color: #524d4d;
  font-weight: 500;
  margin-bottom: 0;
}

/*** Popular Destination ***/

.destination-heading h4 {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #222020;
  font-weight: 600;
}

.destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.destination-item {
  flex: 1 1 22%;
  margin: 10px;
  position: relative;
}

.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: start;
  padding: 10px;
  border-radius: 10px;
}

.overlay h6 {
  color: #fff;
  font-size: 18px;
  font-family: "Euclid Circular A", sans-serif;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .destination-item {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .destination-item {
    flex: 1 1 100%;
  }
}

/*** Recent Searchs ***/

.recent-search-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 1024px) {
  .recent-search-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .recent-search-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .recent-search-container {
    overflow-y: scroll;
    white-space: nowrap;
    grid-template-columns: repeat(4, 1fr);
  }
  .date-box {
    padding: 20px;
    width: 220px;
  }
 
  .recent-search-container{
    -ms-overflow-style: none;
  scrollbar-width: none;
  }
}


.date-box {
  padding: 20px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.date-box h5 {
  font-size: 12px;
  font-family: "Euclid Circular A", sans-serif;
  color: #6f6f6f;
}

.date-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.recent-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.recent-box h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Euclid Circular A", sans-serif;
  color: #6f6f6f;
}

.recent-box .icon {
  color: #6f6f6f;
  transition: transform 0.3s ease;
}

.recent-search-heading h4 {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #222020;
  font-weight: 600;
}

.placeholder {
  width: 100%;
  height: 0;
}

.flight-banner img{
  width: 100%;
}


.flight-offer {
  padding-top: 5rem;
}

.flight-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.flight-box {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4.43px 17.71px 0px #9e9e9e40;
  border-radius: 20px;
  padding: 20px 10px;
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  align-items: stretch;
}

@media (max-width: 768px) {
  .flight-box {
    flex: 1 1 100%;
    max-width: 100%; 
  }
}

@media (max-width: 576px) {
  .flight-box {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}

.plane-box {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin-right: 20px;
}
@media (max-width:560px){
  .plane-box {
    max-width: 180px;
  }
}
.plane-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}

.plane-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.plane-content-box p {
  margin-bottom: 0;
  font-family: 'Euclid Circular A', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #5d5d5d;
}

.plane-content-box h5 {
  font-family: 'Euclid Circular A', sans-serif;
  color: #2f2b2b;
  font-size: 20px;
  font-weight: 600;
}

.plane-content-box span {
  color: #624fa8;
}

.plane-content-box h6 {
  font-family: 'Euclid Circular A', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 0;
  color: #343434;
}

.plane-content-box button {
  padding: 10px 20px;
  background-color: #624fa8;
  color: #fff;
  font-family: 'Euclid Circular A', sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/*** Testimonial CSS ***/

.testimonials {
  font-family: 'Euclid Circular A', sans-serif;
}

.section-title {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #222020;
  font-weight: 600;
}

.testimonial-box {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.testimonial-box:hover {
  transform: translateY(-10px);
}

.testimonial-content {
  flex: 1;
  position: relative;
  padding: 20px;
}


.testimonial-image {
  text-align: center;
  margin-top: 1px;
}

.testimonial-image img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.name {
  margin-top: 10px;
  font-weight: bold;
  color: #666;
  text-align: center;
}

.why-us-section h1{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #312d2d;
}
.why-us-section h2{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #312d2d;
}
.why-us-section h3{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #312d2d;
}
.why-us-section p{
    font-family: "Euclid Circular A", sans-serif;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #4b4848;
    line-height: 27px;
  }
  .why-us-section li{
    margin: 10px 0;
  }

  /*** Offer page CSS ***/

  .offer-tabs button{
    margin:0 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Euclid Circular A", sans-serif;
    border-radius: 0;
    padding: 2px;
    font-size: 16px;
    color: #454545;
  }
  .offer-tabs .offer-active{
    border-bottom: 3px solid #624fa8;
    color: #624fa8;
    font-weight: 500;
  }
  .offer-cards-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
  }
  

.flight-card{
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('plane.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  max-width: 330px;
  margin: 10px 0;
}
.hotel-card{
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hotel.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  max-width: 300px;
  margin: 10px 0;
}
.transport-card{
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('car.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  max-width: 330px;
  margin: 10px 0;
}
  .logo {
    width: 80px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .coupon-card h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Euclid Circular A", sans-serif;
    line-height: 28px;
  }
  .coupon-row{
    display: flex;
    align-items: center;
    margin: 25px auto;
    width: fit-content;

}
.cpnCode{
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;
    font-family: "Euclid Circular A", sans-serif;
}
.cpnBtn{
  font-family: "Euclid Circular A", sans-serif;
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 10px;
    color: #7158fe;
    cursor: pointer;
}
  .coupon-card p {
    font-size: 14px;
    font-family: "Euclid Circular A", sans-serif;
    margin-bottom: 0;
  }
  
  .coupon-row {
    display: flex;
    align-items: center;
    margin: 5px auto;
    width: fit-content;
  }
  
  #cpnCode {
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;
  }
  
  #cpnBtn {
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 10px;
    color: #7158fe;
    cursor: pointer;
  }
  
  .circle1,
  .circle2 {
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .circle1 {
    left: -8px;
  }
  
  .circle2 {
    right: -8px;
  }
  
  /*** Hotels CSS ***/
  .location-input {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
  }
  .location-input input{
    background-color: transparent !important;
    padding: 0 30px;
  }
  .location-icon{
    color: gray;
    float: left;
    margin-top: -43px !important;
    margin-left: 5px;
  }
  .user-icon{
    margin-top: -5px;
    font-size: 1.2rem !important;
  }

  .offer-heading h4{
    font-family: "Euclid Circular A", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #222020;
    margin: 10px;
  }
  .hotel-banner-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }


.getaway-column img{
  width: 100%;
}
.getaway-column {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image {
  transition: transform 0.5s ease;
}

.image-group img:hover,
.image-bottom img:hover {
  transform: scale(1.02);
}

.image-group{
  display: flex;
  gap: 2px;
  width: 100%;
}
.image-group img{
  width: 50%;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 3px;
}
.image-bottom img{
  width: 100%;
  object-fit: cover;
  height: 150px;
  margin: 3px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.getaway-row{
  --bs-gutter-x: 0.5rem !important;
}
.getaway-column{
  margin: 10px 0;
}
.getaway-content h5{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #222020;
}
.getaway-content h6{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4e4a4a;
}
.getaway-content .css-i4bv87-MuiSvgIcon-root{
  font-size: 18px;
}

.hotel-deal-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.hotel-look {
  border-radius: 10px;
}

.deal-img img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.deal-img {
  z-index: 1;
  position: relative;
}
.deal-content{
  background-color: #ffffff !important;
  border-radius: 20px;
  margin-top: -20px;
  z-index: 2;
  position: relative;
  padding: 15px 10px;
  border: 1px solid #f0f0f0;
}
.deal-content h4{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #222020;
  margin-bottom: 4px;
}
.deal-content small{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 11px;
  color: #737373;
}
.deal-heading h4{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #222020;
  font-weight: 600;
  margin-bottom: 0;
}
.deal-heading p{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 14px;
  padding-top: 5px;
  color: #737373;
}
.deal-content .css-i4bv87-MuiSvgIcon-root{
font-size: 14px;
color: #737373;
}
.deal-heading{
  display: flex;
  justify-content: space-between;
}
.deal-heading button {
  background-color: #222020;
  color: #fff;
  border-radius: 30px;
  padding: 12px 25px;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.deal-heading button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: all 0.5s ease;
}

.deal-heading button:hover::before {
  left: 125%;
}

.deal-heading button:hover {
  background-color: #444;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px;
  transform: translateY(-2px);
}
@media (max-width:560px){
  .deal-heading{
    display: block;
  }
}
.price-book-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-book-btn h6{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  margin-bottom: 0;
}
.price-book-btn span{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 12px;
  color: 
  #737373;
  font-weight: 500;
}
.price-book-btn button{
  background-color: #4c3f90;
  color: #fff;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 10px;
  border: none;
}
.review-box{
  display: flex;
  justify-content: end;
}
.review-box h6{
  border-radius: 20px;
  border: 1px solid rgb(214, 214, 214);
  background-color: #fff;
  padding: 5px 10px;
  position: absolute;
margin-top: -30px;
}
.review-box h6{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 13px;
  color: #000;
  margin-bottom: 0;
}
.review-box span{
  font-family: "Euclid Circular A", sans-serif;
  font-size: 12px;
  color: 
  #737373;
}
.review-box .css-i4bv87-MuiSvgIcon-root{
  color: #FFC700;
  margin-bottom: 2px;
}

.slider .slick-slide {
  padding: 0 8px;
  cursor: grab;
}

.radio-icon .css-i4bv87-MuiSvgIcon-root{
  font-size: 16px;
  margin-bottom: 5px;
  }

  .search-tab .css-i4bv87-MuiSvgIcon-root{
    font-size: 18px;
    margin-bottom: 5px;
    }
    .search-tab button{
      font-family: "Euclid Circular A", sans-serif;
      font-size: 14px;
    }
    .search-tab .css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected{
      color: #4c3f90;
    }
    .search-tab .css-aym9vq-MuiButtonBase-root-MuiTab-root {
     min-height: 10px !important;
     min-width: 20px !important;
     display: block;
    }
    .search-tab .css-1aquho2-MuiTabs-indicator{
      background-color: #4c3f90;
      top: 40px;
    }

    .transport-heading h5{
      font-family: "Euclid Circular A", sans-serif;
      font-size: 22px;
      font-weight: 600;
      color: #222020;
      padding-left: 0 !important;
    }
    .know-btn button{
      background-color: #222020;
    }
  