@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}
.navbar {
  height: 72px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.nav-logo {
  height: 30px;
  object-fit: contain;
}
.login-btn {
  background-color: #254eaf;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-btn-primary {
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.login-left {
  gap: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 625px) {
    width: unset;
  }
}
.register-left {
  gap: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 625px){
    width: unset;
  }
}
.login-text {
  font-family: sans-serif;
  color: gray;
  font-size: 13px;
  text-align: center;
}
.login-text-register {
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  text-align: center;
  color: #5a6e9e;
}
.login-text-agree {
  text-align: end;
  font-size: 12px;
  font-family: sans-serif;
  color: gray;
  padding-top: 30px;
  @media screen and (max-width: 625px) {
    display: none;
  }
}
.register-text-login {
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  align-self: center;
  color: #5a6e9e;
}
.login-dialog {
  display: flex;
  @media screen and (max-width: 625px) {
    flex-direction: column;
  }
}


/*** sidenav CSS ***/

.sidenav .nav-link{
  font-family: 'Euclid Circular A', sans-serif;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 500;
  margin: 20px 0;
  display: block;
  padding: 8px 16px;
}
.nav-link.active {
  background-color: #d6cbff;
  color: #624FA8;
  font-weight: 500;
  border-radius: 5px;
}
.nav-link .MuiSvgIcon-root {
  font-size: 18px;
}
.nav-link .nav-icon{
  margin-right: 8px;
}
